name: Deploy Check

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar repositório
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Instalar dependências do backend
        run: |
          cd backend
          npm install

      - name: Instalar dependências do frontend
        run: |
          cd frontend
          npm install

      - name: Build do frontend
        run: |
          cd frontend
          npm run build

